---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

$base-font-family: 'IBM Plex Sans KR', serif;
// Do not use KR font - alphabets with an accent (such as ć) are not supported.
$base-font-family-en: 'IBM Plex Sans', serif;
$mono-font-family: Monaco, 'DejaVu Sans Mono', 'Courier New', monospace;

$mono-font-size:   12px;
$base-font-size:   13px;
$base-font-sizes: ('en': 13px, 'ko': 14px);
$spacing-units: ('en': 22px, 'ko': 24px);
$spacing-units-half: ('en': 11px, 'ko': 12px);
$spacing-units-three-half: ('en': 33px, 'ko': 36px);
$mono-font-sizes: ('en': 12px, 'ko': 12px);
$mono-line-heights: ('en': 16.5px, 'ko': 18px);

$small-font-size:  0.8em;
$h4-font-size:     1em;
$h3-font-size:     1.25em;
$h2-font-size:     1.5em;
$h1-font-size:     2em;

$hr-spacing-unit:  24px;
$spacing-unit:     24px;
$width:            560px;
$mono-line-height: 18px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #f50057;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        600px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin responsive($property, $values) {
    @each $lang, $px in $values {
        &:lang(#{$lang}) {
            #{$property}: $px;
        }
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
